<div *ngIf="actor" class="componenet">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span> | <a routerLink="/actor/list">Return to List</a></span>

    </section>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>ID</td>
                <td>{{ actor.id }}</td>
                
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input [(ngModel)]="actor.firstName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input [(ngModel)]="actor.lastName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input [(ngModel)]="actor.gender" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Birthdate:</td>
                <td><input [(ngModel)]="actor.birthdate" class="rounded" type="text" disabled></td>
            </tr>


        </table>
        <h1>Movies</h1>
        <table class="table table-sm">
            <tr>
                <th>Role</th>
                <th>Movie</th>
            </tr>
            <tr *ngFor="let credit of credits">
                <td><input [(ngModel)]="credit.role" class="rounded" type="text" disabled></td>
                <td><input [(ngModel)]="credit.movie.title" class="rounded" type="text" disabled></td>

            </tr>
        </table>

    </main>
    <span>
        <span><a routerLink="/actor/edit/{{actor.id}}" class="btn btn-sm btn-warning">Edit</a></span>
        <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
    </div>